{% extends 'base.html.twig' %}

{% block title %}Gestion des labels{% endblock %}

{% block body %}

<h1 class="pt-2 text-center">Gestion des Labels | Admin</h1>

<a href="{{path("admin_label_ajout")}}" class="btn btn-success"><i class="fa-solid fa-user-plus"></i> Ajouter un label</a>

<hr>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col-1"></th>
            <th scope="col-2">Nom</th>
            <th scope="col-7">Detail</th>
            <th scope="col-2">Actions</th>
        </tr>
    </thead>
    <tbody>

        {% for leLabel in lesLabels %}

            {% set nbAlbums = leLabel.albums|length %}

                <tr class="table-secondary">
                    <td class="col-1"><img class="avatar mx-auto d-block" style="height: auto; width: 50px; display: block;" src="{{leLabel.logo}}" alt="Label Image"></td>
                    <td class="col-2">{{leLabel.nom}}</td>
                    <td class="col-7">
                        <div class="row">
                            <div class="col">
                                <span><a href="" class="badge badge-success">{{nbAlbums}} {% if nbAlbums > 1 %} albums {% else %} album {% endif %}</a></span>
                            </div>
                            <div class="col">
                                <span class"mx-3">{% if leLabel.type == "0" %} <a href="" class="badge badge-danger">Majeur</a> {% else %} <a href="" class="badge badge-warning">Indépendant</a> {% endif %}</span>
                            </div>
                            <div class="col">
                                <span class"ml-auto">{{leLabel.annee}}</span>
                            </div>
                        </div>
                        <p>
                            {{leLabel.description|slice(0,100)|raw}}...
                        </p>
                    </td>
                    <td class="col-2">
                        <a href=" {{path('admin_label_modif', {'id': leLabel.id})}} " class="btn btn-primary"><i class="fa-regular fa-pen-to-square"></i></a>
                        <a class="btn btn-danger" data-toggle="modal" data-target="#modalSimple" data-titre="Suppression d'un label" data-message="Êtes vous sûr de vouloir supprimer le label : {{leLabel.nom}}" data-libelleBouton="Supprimer" data-lien="{{path('admin_label_supr', {'id': leLabel.id})}}"><i class="fa-solid fa-user-slash"></i></a>
                    </td>
                </tr>

        {% endfor %}

        <div class="navigation mx-auto">
            {{ knp_pagination_render(lesLabels) }}
        </div>

    </tbody>
</table>

<div class="navigation mx-auto">
    {{ knp_pagination_render(lesLabels) }} 
</div>

{% endblock %}

{% block javascripts %}
    {% include "include/_modale.html.twig" %}
{% endblock %}