{% extends 'base.html.twig' %}

{% block title %}
    {% if app.request.attributes.get('_route') == "admin_album_ajout" %} Ajout 
    {% else %} Modification {% endif %} 
    d'un album
{% endblock %}

{% block stylesheets %} <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" /> {% endblock %}

{% block body %}

<h1 class="pt-2 text-center">
    {% if app.request.attributes.get('_route') == "admin_album_ajout" %} Ajout 
    {% else %} Modification {% endif %} 
    d'un album
</h1>

{{form_start(formAlbum,{'attr':{'novalidate':'novalidate'}})}}

<div class="row">
    <div class="col-8">
        {{form_row(formAlbum.nom)}}
        {{form_row(formAlbum.date)}}
        {{form_row(formAlbum.artiste)}}
        {{form_row(formAlbum.styles)}}
    </div>
    <div class="col-4">
        <img src=" {{asset("images/albums/" ~ formAlbum.image.vars.value)}} " id="imageAffichee" alt="Image de l'album" class="rounded mx-auto d-block img-thumbnail mb-2" style="height: 300px; width: 300px; display: block;">
        {{form_row(formAlbum.imageFile)}}
        {{form_errors(formAlbum.imageFile)}}
        <a class="btn btn-primary d-block center" id="chargePochette"><i class="fas fa-upload"> Charger la pochette</i></a>
    </div>
</div>

<div class="row mt-2">
    <div class="col"><input type="submit" class="btn btn-success btn-block" value=
    {% if app.request.attributes.get('_route') == "admin_album_ajout" %} "Ajouter"
    {% else %} "Modifier" {% endif %}></div>
    <div class="col"><a href="{{path('admin_albums')}}" class="btn btn-warning btn-block">Annuler</a></div>
</div>

{{form_end(formAlbum)}}

{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>$(document).ready(function() {$('.selectStyles').select2();});</script>
    <script src=" {{asset("js/gestionUpload.js")}} " defer ></script>
{% endblock %}