{% extends 'base.html.twig' %}

{% block title %}
    {% if app.request.attributes.get('_route') == "admin_album_ajout" %} Ajout 
    {% else %} Modification {% endif %} 
    d'un album
{% endblock %}

{% block stylesheets %} <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" /> {% endblock %}

{% block body %}

<h1 class="pt-2 text-center">
    {% if app.request.attributes.get('_route') == "admin_album_ajout" %} Ajout 
    {% else %} Modification {% endif %} 
    d'un album
</h1>

{{form_start(formAlbum,{'attr':{'novalidate':'novalidate'}})}}

<div class="row">
    <div class="col-8">
        {{form_row(formAlbum.nom)}}
        {{form_row(formAlbum.date)}}
        {{form_row(formAlbum.artiste)}}
        {{form_row(formAlbum.styles)}}
    </div>
    <div class="col-4">
        <img src=" {{asset("images/albums/" ~ formAlbum.image.vars.value)}} " id="imageAffichee" alt="Image de l'album" class="rounded mx-auto d-block img-thumbnail mb-2" style="height: 300px; width: 300px; display: block;">
        {{form_row(formAlbum.imageFile)}}
        {{form_errors(formAlbum.imageFile)}}
        <a class="btn btn-primary d-block center" id="chargePochette"><i class="fas fa-upload"> Charger la pochette</i></a>
    </div>
</div>

<h3>Liste des morceaux</h3>

<button type="button" class="add-morceau btn btn-primary mb-2">Ajouter un morceau</button>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col-6">Titre</th>
            <th scope="col-2">Durée</th>
            <th scope="col-2">Piste</th>
            <th scope="col-2"></th>
        </tr>
    </thead>
    <tbody id="sousForm"
            data-index = "{{formAlbum.morceaux|length > 0 ? formAlbum.morceaux|last.vars.name + 1 : 0}}"
            data-prototype = {{_self.afficheMorceau(formAlbum.morceaux.vars.prototype)|e('html_attr')}}
            >
        {% for morceau in formAlbum.morceaux %}  
            {{_self.afficheMorceau(morceau)}}
        {% endfor %}

        {% macro afficheMorceau(morceau) %}
            <tr>
                <td class="col-6"> {{form_row(morceau.titre)}} </td>
                <td class="col-2"> {{form_row(morceau.duree)}} </td>
                <td class="col-2"> {{form_row(morceau.piste)}} </td>
                <td class="col-2"><a class="supprMorceau btn btn-danger"><i class="fas fa-trash"></i></a></td>
            </tr>
        {% endmacro %}
    </tbody>
</table>

<div class="row mt-2">
    <div class="col"><input type="submit" class="btn btn-success btn-block" value=
    {% if app.request.attributes.get('_route') == "admin_album_ajout" %} "Ajouter"
    {% else %} "Modifier" {% endif %}></div>
    <div class="col"><a href="{{path('admin_albums')}}" class="btn btn-warning btn-block">Annuler</a></div>
</div>

{{form_end(formAlbum)}}

{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>$(document).ready(function() {$('.selectStyles').select2();});</script>
    <script src=" {{asset("js/gestionUpload.js")}} " defer ></script>
{% endblock %}