{% extends 'base.html.twig' %}

{% block title %}Gestion des albums{% endblock %}

{% block body %}

<h1 class="pt-2 text-center">Gestion des Albums | Admin</h1>

<a href="{{path("admin_album_ajout")}}" class="btn btn-success"><i class="fa-solid fa-user-plus"></i> Ajouter un album</a>

<hr>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col-1"></th>
            <th scope="col-2">Nom</th>
            <th scope="col-1">Date</th>
            <th scope="col-2">Artiste</th>
            <th scope="col-2">Styles</th>
            <th scope="col-2">Morceaux</th>
            <th scope="col-2">Actions</th>
        </tr>
    </thead>
    <tbody>

        {% for leAlbum in lesAlbums %}

            {% set nbMorceaux = leAlbum.morceaux|length %}

                <tr class="table-secondary">
                    <td class="col-1"><img class="avatar mx-auto d-block" style="height: auto; width: 50px; display: block;" src="{{leAlbum.image}}" alt="Album Image"></td>
                    <td class="col-2">{{leAlbum.nom}}</td>
                    <td class="col-1">{{leAlbum.date}}</td>
                    <td class="col-2">{{leAlbum.artiste.nom}}</td>
                    <td class="col-2">{% for leStyle in leAlbum.styles %} <span class="badge" style="background-color: {{leStyle.couleur}};">{{leStyle.nom}}</span> {% endfor %}</td>
                    <td class="col-2"><span><a href="" class="badge badge-success">{{nbMorceaux}} {% if nbMorceaux > 1 %} morceaux {% else %} morceau {% endif %}</a></span></td>
                    <td class="col-2">
                        <a href=" {{path('admin_album_modif', {'id': leAlbum.id})}} " class="btn btn-primary"><i class="fa-regular fa-pen-to-square"></i></a>
                        <a class="btn btn-danger" data-toggle="modal" data-target="#modalSimple" data-titre="Suppression d'un album" data-message="Êtes vous sûr de vouloir supprimer l'album : {{leAlbum.nom}}" data-libelleBouton="Supprimer" data-lien="{{path('admin_album_supr', {'id': leAlbum.id})}}"><i class="fa-solid fa-user-slash"></i></a>
                    </td>
                </tr>

        {% endfor %}

        <div class="navigation mx-auto">
            {{ knp_pagination_render(lesAlbums) }}
        </div>

    </tbody>
</table>

<div class="navigation mx-auto">
    {{ knp_pagination_render(lesAlbums) }} 
</div>

{% endblock %}

{% block javascripts %}
    {% include "include/_modale.html.twig" %}
{% endblock %}